@use "../../styles/colors";

.logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: calc(16px + 2vmin);
    line-height: 65px;
    color: colors.$text_color_primary;
}

.menu_buttons {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: calc(6px + 1vmin);
    color: colors.$text_color_secondary !important;
    border: none !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.menu_buttons_container {
    margin: calc(10px + 25%) 0 calc(10px + 25%) 0;
}

.delivery_guy_container {
    // display: flex;
    // justify-content: space-between;
    position: absolute;
}

.delivery_guy_button {
    background-color: #ffe5cd !important;
    color: colors.$span_color !important;
    box-shadow: none !important;
    border-radius: 50px 0 0 50px !important;
    margin-top: calc(10px - 10%) !important;
}

.delivery_guy_img {
    position: relative;
    top: calc(10px - 3.1vmax);
    left: calc(10px + 8vmin);
    width: calc(24px + 2vmin) !important;
    height: calc(24px + 2vmax) !important;
    border-radius: 50%;
}
