@use "../../styles/colors";

.basket_container {
    position: relative;
    left: 40%;
    display: flex;
    align-content: space-between;
    text-align: center;
    border-radius: 15px;
    background-color: #f9f6f6;
    width: calc(480px + 2vmin);
    height: 65px;
}

.basket_img {
    margin: 14px 100px 0 20px;
    width: calc(20px + 2vmin) !important;
    height: calc(20px + 2vmin) !important;
    cursor: pointer;
}

.balance {
    margin: 14px 100px 0 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: calc(5px + 2vmin);
    line-height: 36px;
    color: colors.$text_color_primary;
}

.order_btn {
    margin: 10px 20px 10px 0 !important;
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: calc(7px + 1vmin) !important;
    line-height: 30px !important;
    color: #ffffff !important;
    background-color: colors.$background_color_secondary !important;
    border-radius: 15px !important;
}

.balance_desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 65px;
    color: colors.$text_color_primary;
}

.success_modal_container {
    //display: flex !important;
    //align-items: center;
    //justify-content: center;
    //text-align: center;
    font-family: "Poppins";
    font-style: normal;
    color: colors.$text_color_primary;
}

.success_modal_container h1 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
    color: colors.$background_color_secondary;
}

.success_modal_container p {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 65px;
    color: colors.$text_color_secondary;
}
